body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.code-annotation {
    // background-color: #357EDD;
    background-color: #785549;
    position: absolute;
}

.track-line-start {
    width: 2px;
    height: 18px;
    top: 40px;
    left: 32px;
    position: absolute;
    background-color: #999999;
}

.track-line-top {
    width: 2px;
    height: 16px;
    top: 0px;
    left: 32px;
    position: absolute;
    background-color: #999999;
}

.track-line-bottom {
    width: 2px;
    height: 18px;
    top: 32px;
    left: 32px;
    position: absolute;
    background-color: #999999;
}

/**/
// Default theme
$colors: (
  'primary': #0e2639,
  'primary-light': #394e63,
  'primary-dark': #000014,

  'primary-accent': #394e63,

  'secondary': #7ac4d4,
  'secondary-light': #adf7ff,
  'secondary-dark': #4893a3,

  'secondary-accent': #4893a3,

  'background': #FFFFFF,
  'surface': #F5F5F6,
  'error': #BA1309,

  'surface-accent': #EFEFEF,

  'disabled': #999999,

  'text-primary': #ffffff,
  'text-secondary': #F5F5F6,
  'text-background': #000000,
  'text-surface': #000000,
  'text-error': #ffffff,
  'text-disabled': #dedede
);
/**/

/**
// Burgundy
$colors: (
  'primary': #432b39,
  'primary-light': #6f5463,
  'primary-dark': #1d0013,

  'primary-accent': #6f5463,

  'secondary': #e08084,
  'secondary-light': #ffb1b4,
  'secondary-dark': #ab5257,

  'secondary-accent': #ab5257,

  'background': #F5F5F6,
  'surface': #E1E2E1,
  'error': #BA1309,

  'surface-accent': #EFEFEF,

  'disabled': #999999,

  'text-primary': #ffffff,
  'text-secondary': #F5F5F6,
  'text-background': #000000,
  'text-surface': #000000,
  'text-error': #ffffff,
  'text-disabled': #dedede
);
/**/

/**
// Lemon Lime
$colors: (
  'primary': #61a453,
  'primary-light': #92d681,
  'primary-dark': #317527,

  'primary-accent': #317527,

  'secondary': #F4E540,
  'secondary-light': #ffff75,
  'secondary-dark': #beb300,

  'secondary-accent': #beb300,

  'background': #F5F5F6,
  'surface': #E1E2E1,
  'error': #BA1309,

  'surface-accent': #EFEFEF,

  'disabled': #999999,

  'text-primary': #000000,
  'text-secondary': #000000,
  'text-background': #000000,
  'text-surface': #000000,
  'text-error': #ffffff,
  'text-disabled': #dedede
);
/**/

/**
// Brown and red
$colors: (
  'primary': #795548,
  'primary-light': #a98274,
  'primary-dark': #4b2c20,

  'primary-accent': #a98274,

  'secondary': #b71c1c,
  'secondary-light': #f05545,
  'secondary-dark': #7f0000,

  'secondary-accent': #7f0000,

  'background': #F5F5F6,
  'surface': #E1E2E1,
  'error': #E6825E,

  'surface-accent': #CEBD9B,

  'disabled': #999999,

  'text-primary': #ffffff,
  'text-secondary': #F0C081,
  'text-background': #000000,
  'text-surface': #000000,
  'text-error': #ffffff,
  'text-disabled': #dedede
);
/**/

@each $name, $hex in $colors {
    .#{$name} {
        color: $hex;

        &:visited {
            color: $hex;
        }
    }

    .bg-#{$name} {
        background-color: $hex;
    }

    .b--#{$name} {
        border-color: $hex;
    }

    .hover-bg-#{$name} {
        &:focus,
        &:active,
        &:hover {
            background-color: $hex;
        }
    }

    .hover-#{$name}:hover,
    .hover-#{$name}:visited:hover {
        color: $hex;
    }
}
